{% extends 'index.html' %}

{% block title %}
Add virtual machine
{% endblock %}

{% block content %}

<div class="container">
    <h4 class="mb-4">Добавление виртуальной машины</h4>
    <form action="/add/virtual/machine" method="POST">
        {% include 'partial/server_form.html' with button_text='Добавить виртуальную машину' %}
    </form>

</div>

{% endblock %}