{% extends 'index.html' %}

{% block title %}
Add server
{% endblock %}

{% block content %}

<div class="container">
    <h4 class="mb-4">Добавление физического сервера</h4>
    <form action="/add/server" method="POST">
        {% include 'partial/server_form.html' with button_text='Добавить физ.сервер' %}
    </form>

</div>

{% endblock %}