{% extends 'base.html' %}

{% block title %}
Server list
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<table class="table table-bordered mt-4">
    <thead>
    <tr>
        <th scope="col">Физический сервер</th>
        <th scope="col">Операционная система</th>
        <th scope="col">IP</th>
        <th scope="col">Виртуальная машина</th>
        <th scope="col">Операционная система</th>
        <th scope="col">IP</th>
        <th scope="col">Приложение</th>
        <th scope="col">Примечание</th>
    </tr>
    </thead>
    <tbody>
    {% for p_s in physical_servers %}
    <tr>
        <td>

            <a href="{% url 'update_server' p_s.pk %}" style="text-decoration: none; color: green;">
                {{ p_s.name }}
            </a>
        </td>
        <td>{{ p_s.operating_system }}</td>
        <td>{{ p_s.ip }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% for virtual_machine in virtual_machines %}
    {% if virtual_machine.physical_server.ip == p_s.ip %}
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <span></span>
            <a href="{% url 'update_virtual' virtual_machine.pk %}" style="text-decoration: none; color: green;">
                {{ virtual_machine.name }}
            </a>
        </td>
        <td>{{ virtual_machine.operating_system }}</td>
        <td>{{ virtual_machine.ip }}</td>
        <td style="max-width: 200px; word-wrap: break-word;">{{ virtual_machine.application }}</td>
        <td style="max-width: 200px; word-wrap: break-word;">{{ virtual_machine.note }}</td>
    </tr>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% else %}
    <h3 class="mt-4 text-center">Войдите для работы с серверами!</h3>
{% endif %}
{% endblock %}

