{% extends 'base.html' %}

{% block title %}
Update server
{% endblock %}

{% block content %}

  <div class="container">
    <form action="{% url 'update_server' physical_server.pk %}" method="POST" enctype="multipart/form-data">
      {% include 'partial/server_form.html' with button_text='Изменить' %}
    </form>
  </div>

{% endblock %}
